
<mat-card>
  <mat-card-title>Login to your google account</mat-card-title>
  <mat-card-content>We need to get your consent to access your google calendar</mat-card-content>
  <mat-card-actions> 
    
    <div class="label">Be</div>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <form [formGroup]="loginFormGroup" action="{{url}" method="POST" (submit)="onSubmit()">
            <button mat-flat-button color="accent" type="submit">auto</button>
          </form>
        </div>
        <div class="button-container">
          <a mat-flat-button color="accent" href="{{url}}">Login c</a>
        </div>
      </div>
    </div>
  
</mat-card-actions>	
</mat-card>

<section>
 
</section>